.author{
    font-size: 15px;
}
.borrowed{
  border: 3px solid #0C4139 !important;
}
.borrowed:hover{
    border: 3px solid rgb(160, 167, 146) !important;
}
.borrowed-by{
  font-size:14px;
  margin: 5px 0px;
}