body{
    margin: 0px;
    font-family:'Roboto', sans-serif;
  }
.userPage-container{
    padding-top: 50px;
  }
.welcome-user{
    margin: 10px;
    padding:10px;
  }
  .items-bar{
    display: flex;
    list-style-type: none;
    background-color: lightgrey;
    font-size: 20px;
    align-items: flex-end;
  }
  .items-bar li{
    padding: 10px;
    margin-right: 50px;
    align-self: center;
  }
  .sort{
    font-size: 16px;
  }
  .sort-by-type{
      font-size: 16px;
      padding: 5px;
      margin-left: 5px;
      border: none;
  }
  .sort-by-type:hover{
    cursor: pointer;
  }
  .add-item{
    font-size: 16px;
  }
  .my-items{
    font-size:24px;
    font-weight: bolder;
  }
  .items-container{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
  }
  .items-container li{
    font-size:18px;
    padding: 15px;
    border: 5px solid lightgrey;
    background: lightgrey;
    border-radius: 10px;
    margin:10px;
  }
  .items-container li:hover{
      cursor: pointer;
      background-color: rgb(228, 226, 226);
      border: 5px solid rgb(228, 226, 226);
      transition: 0.3s;
  }