.complete-overlay{
    z-index: 1;
    background-color: red;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}
  @media only screen and (max-width: 620px) {
    .modal {
      width: 100% !important;
      left: 0 !important;
      top: 15% !important;
    }
  }
  .close{
    text-align:right;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    margin-top: -10px;
    margin-right: -20px;
    padding: 10px;
    background: grey;
    outline: none;
    box-shadow: none;
    border: none;
  }
  .close:hover{
    color: white;
    cursor: pointer;
  }
  .modal {
    opacity: 1 !important;
    z-index: 2 !important;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    width: 50%;
    max-width: 600px;
    min-width: 440px;
    position: fixed; 
    background: gray;
    height: 380px;
    top: 100px;
    left: 25%;
    overflow: auto;
  }
  .modal-form{
    margin: 30px;
  }
  .modal-form h2{
    text-align:center;
    margin: -50px 20px 20px 20px;
  }
  .modal-form label{
    font-size: 20px;
    margin: 5px
  }
  .modal-form input{
    padding: 5px;
    margin: 10px 0px;
  }
  .get-hint{
    font-size: 15px;
    padding: 5px;
    text-decoration: underline;
    margin-top: -10px;
  }
  .get-hint:hover{
    cursor: pointer;
    transition: 0.3s;
    color: lightgrey;
  }
  .login-button{
    border-radius: 5px;
    margin: 10px 30%;
    width: 120px;
    font-size: 24px;
    padding: 5px 10px;
    border: 2px solid lightgrey;
  }
  .login-button:hover{
      cursor: pointer;
      background: black;
      color: white;
      border: 2px solid black;
      transition: 0.3s;
  }