.complete-overlay{
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}
@media only screen and (max-width: 620px) {
    .signup-modal {
      width: 100% !important;
      left: 0 !important;
      top: 0 !important;
      height: 100% !important;
    }
  }
  .signup-close{
    float:right;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    margin: -5px -5px 0px 0px;
    padding: 10px;
    background: grey;
    outline: none;
    box-shadow: none;
    border: none;
  }
  .signup-close:hover{
    color: lightgray;
    cursor: pointer;
  }
  .signup-modal {
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    position: fixed; 
    background: gray;
    height: 80vh;
    z-index: 2; 
    top: 10vh;
    left: 30%;
    overflow: auto;
    border: 2px solid grey;
  }
  .signup-modal-form{
    margin: 30px;
  }
  .signup-modal-form h2{
    text-align:center;
    margin: 20px;
  }
  .signup-modal-form label{
    font-size: 20px;
    margin: 40px 5px
  }
  .signup-modal-form input{
    padding: 5px;
    margin: 10px 0px;
  }
  .signup-button-wrapper{
    margin: 10px auto;
  }
  .sign-up-button{  
    border-radius: 5px;
    width: 120px;
    font-size: 24px;
    padding: 5px 10px;
    border: 2px solid lightgrey;
  }
  .sign-up-button:hover{
    cursor: pointer;
    background: black;
    color: white;
    border: 2px solid black;
    transition: 0.3s;
  }